---
import Layout from '@layouts/Layout.astro';
import HeroPlaylist from '@components/Playlist.jsx';
import VideoGrid from '@components/VideoGrid.astro';

const sources = [
	{title: 'Vidéo 07', channel: 'TV', id: 'video07'},
	{title: 'Vidéo 06', channel: 'TV', id: 'video06'},
	{title: 'Vidéo 05', channel: 'TV', id: 'video05'},
	{title: 'Vidéo 04', channel: 'TV', id: 'video04'},
	{title: 'Vidéo 03', channel: 'TV', id: 'video03'},
];

const sourcesBis = [
	{title: 'Vidéo 07', channel: 'TV', id: 'video07'},
	{title: 'Vidéo 06', channel: 'TV', id: 'video06'},
	{title: 'Vidéo 05', channel: 'TV', id: 'video05'},
];

const sourcesActus = [
	{title: 'Lorem ipsum dolor sit', channel: 'Actu', id: 'video07'},
	{title: 'nihil itaque quas', channel: 'Actu', id: 'video06'},
	{title: 'ipsa repudiandae', channel: 'Actu', id: 'video05'},
];
---

<Layout title="KTV Guyane - Regardons-nous être">
	<section>
		<HeroPlaylist client:load sources={sources} title="Les denières vidéos" />
	</section>
	<section>
		<VideoGrid sources={sourcesActus} title="Actualités" />
	</section>
	<section>
		<VideoGrid sources={sources} title="Les derniers Replays" />
	</section>
	<section>
		<VideoGrid sources={sourcesBis} title="Les Exclusivités" />
	</section>
	<section>
		<VideoGrid sources={sourcesBis} title="Les Documentaires" />
	</section>
	<section>
		<VideoGrid sources={sourcesBis} title="Les Reportages" />
	</section>
	<section>
		<VideoGrid sources={sourcesBis} title="Les Concerts" />
	</section>
</Layout>
