---
import Layout from '@layouts/Layout.astro';
import Playlist from '@components/Playlist.astro';
import VideoGrid from '@components/VideoGrid.astro';
import FilInfoContainer from '@components/FilInfoContainer.astro';

const sources2 = [
	{title: 'Vidéo 03', channel: 'TV', id: 'video03'},
	{title: 'Vidéo 04', channel: 'TV', id: 'video04'},
	{title: 'Vidéo 05', channel: 'TV', id: 'video05'},
];

const sources3 = [
	{title: 'Vidéo 07', channel: 'TV', id: 'video07'},
	{title: 'Vidéo 06', channel: 'TV', id: 'video06'},
	{title: 'Vidéo 05', channel: 'TV', id: 'video05'},
];

const sourcesActus = [
	{title: 'Lorem ipsum dolor sit', channel: 'Actu', id: 'video07'},
	{title: 'nihil itaque quas', channel: 'Actu', id: 'video06'},
	{title: 'ipsa repudiandae', channel: 'Actu', id: 'video05'},
];

// Getting last 5 videos
const response = await fetch('https://api.dailymotion.com/videos?limit=5&fields=channel%2Ctitle%2Cid%2Cthumbnail_120_url&owners=x2nsv7s');
const lastVids = (await response.json()).list;
---

<Layout title="KTV Guyane - Regardons-nous être">
	<Playlist sources={lastVids} title="Les denières vidéos" />
	<FilInfoContainer>
		<div class="flow">
			<VideoGrid sources={sourcesActus} title="Actualités" />
			<VideoGrid sources={sources2} title="Les derniers Replays" />
			<VideoGrid sources={sources3} title="Les Exclusivités" />
			<VideoGrid sources={sources3} title="Les Documentaires" />
			<VideoGrid sources={sources3} title="Les Reportages" />
			<VideoGrid sources={sources3} title="Les Concerts" />
		</div>
	</FilInfoContainer>
</Layout>
